<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn VueJS - Hello World</title>
  </head>
  <body>
    <div id="app">
      <h3>Ex 1: Show text VueJS - HelloWorld on homepage</h3>
      <div>
        {{ message }}
      </div>
      <hr>

      <h3>Ex 2: Add directive v-bind:title to show title in VueJS</h3>
      <div>
        <span v-bind:title="hover_title">
          <input type="button" value="Hover Me!!!">
        </span>
      </div>
    </div>
    <hr>
    
    <h3>Ex 3: Show/Hide content by condition</h3>
    <div id="app2">
      <span v-if="seen">This is content :D</span>
    </div>
    <hr>
    
    <h3>Ex 4: Loop</h3>
    <div id="app4">
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>
    </div>
    <hr>
    
    <h3>Ex 5: Methods interactive with UI with event click</h3>
    <div id="app5">
      <p>{{ message }}</p>
      <button v-on:click="reverseMessage">Reverse Message</button>
    </div>
    <hr>
    
    <h3>Ex 6: Model - Two way binding</h3>
    <div id="app6">
      <p>{{ message }}</p>
      <input v-model="message">
    </div>
    <hr>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="script.js"></script>
</html>